# dependencies
/node_modules/

# production builds
/dist/
/build/

# environment variables
.env

# logs
npm-debug.log*
yarn-debug.log*

# system files
.DS_Store
Thumbs.db

# local IDE settings
.vscode/*
!.vscode/extensions.json
